[run]
source=/opt/c2cwsgiutils/c2cwsgiutils
branch=True
omit=
    /opt/c2cwsgiutils/c2cwsgiutils/acceptance/*
    /opt/c2cwsgiutils/c2cwsgiutils/models_graph.py
    /opt/c2cwsgiutils/c2cwsgiutils/coverage_setup.py
