*
!build_full.sh
!.coveragerc
!c2cwsgiutils
!c2cwsgiutils_*.py
!c2cwsgiutils_run
!release.sh
!docker-requirements.txt
!docker-requirements-full.txt
!install_docker.sh
!README.md
!requirements.txt
!setup.py
!setup.cfg
!tests
**/__pycache__
