*
!build_full.sh
!.coveragerc
!.prospector.yaml
!c2cwsgiutils
!c2cwsgiutils_*.py
!c2cwsgiutils_run
!release.sh
!docker-requirements.txt
!docker-requirements-full.txt
!install_docker.sh
!install_gdal.sh
!publish-requirements.txt
!README.md
!requirements.txt
!requirements-dev.txt
!setup.py
!setup.cfg
!tests
**/__pycache__
