/.venv/
/acceptance_tests/app/c2cwsgiutils
/acceptance_tests/app/c2cwsgiutils_coverage_report.py
/acceptance_tests/app/c2cwsgiutils_run
/acceptance_tests/app/c2cwsgiutils_genversion.py
/acceptance_tests/app/rel_requirements.txt
/acceptance_tests/app/setup.cfg
/acceptance_tests/tests/c2cwsgiutils
/acceptance_tests/tests/rel_requirements.txt
/acceptance_tests/tests/setup.cfg
/build/
/c2cwsgiutils.egg-info/
/dist/
/reports/
.idea/dbnavigator.xml
.idea/inspectionProfiles
