__pycache__
*.pyc
/.venv/
/build/
/c2cwsgiutils.egg-info/
/dist/
/reports/
/.idea/checkstyle-idea.xml
/.idea/codeStyles/
/.idea/dbnavigator.xml
/.idea/inspectionProfiles
/.idea/misc.xml
/.idea/sonarlint
/docs/*/build/
/.mypy_cache
*.swp
