cee_syslog_handler==0.3.4
cornice==2.4.0
gunicorn==19.7.1
lxml==3.7.3
netifaces==0.10.5
psycopg2==2.7.1
pyramid==1.8.3
pyramid_tm==1.1.1
pytest==3.0.7
requests==2.13.0
SQLAlchemy==1.1.6
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
coverage==4.3.4
