alembic==0.9.6
cee-syslog-handler==0.5.0
codacy-coverage==1.3.9
cornice==3.0.0
coverage==4.4.2
flake8==3.5.0
gunicorn==19.7.1
junit2html==013  # rq.filter: !=008, !=009, !=010, !=012
lxml==4.1.1
mypy==0.560
netifaces==0.10.6
objgraph==3.2.0
psycopg2==2.7.3.2
pyramid==1.9.1
pyramid_tm==2.2
pytest==3.3.1
raven==6.4.0
requests==2.18.4
SQLAlchemy==1.1.15
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
