# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.1.32/c2cciutils/schema.json

version:
  branch_to_version_re:
    - from: release_([0-9]+)
      to: \1
    - from: master
      to: '5'

checks:
  versions: False
  required_workflows: False

  black:
    ignore_patterns_re:
      - .*\.html

publish:
  pypi:
    packages:
      - path: .
    versions:
      - version_tag
      - version_branch
