# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.6.11/c2cciutils/schema.json

version:
  branch_to_version_re:
    - from: release_([0-9]+)
      to: \1
    - from: ([0-9]+\.[0-9]+)
      to: \1
    - from: master
      to: master

publish:
  pypi:
    versions:
      - version_tag
      - version_branch

dpkg:
  ignored_packages:
    - postgresql-common
