name: Continuous integration

on:
  push:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  build:
    name: Continuous integration
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: dpkg --list
      - run: pip freeze --all
        # Remove Python packages with wrong version
      - run: sudo apt-get remove python3-debian python3-distro-info
      - run: docker system prune --all --force
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files
        env:
          SKIP: poetry-lock,isort
      - run: git diff && false
        if: failure()
      - name: Checks
        run: c2cciutils-checks

      - name: Pull
        run: make pull

      - name: Build
        run: make build

      - name: Checks
        run: make checks

      - run: pip install --editable .
      - name: Acceptance
        run: make acceptance
      - run: (cd acceptance_tests/tests/; c2cciutils-docker-logs)
        if: always()
        timeout-minutes: 1
      - run: make acceptance-stop

      - name: Acceptance Dev
        run: WAITRESS=TRUE make acceptance

      - uses: actions/upload-artifact@v3
        with:
          name: Acceptance tests results
          path: acceptance_tests/out/results
        if: always()

      - name: Publish
        run: c2cciutils-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'
