name: Rebuild

on:
  schedule:
    - cron: 30 2 * * *

env:
  IN_CI: '1'

jobs:
  rebuild:
    name: Rebuild
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        branch:
          - release_4
          - '5.0'
          - '5.1'
          - '5.2'
          - master

    steps:
      # Remove Python packages with wrong version
      - run: sudo apt-get remove python3-debian python3-distro-info
      - run: sudo apt-get update
      - run: sudo apt-get install --yes libxslt1-dev libxml2-dev
      - run: docker system prune --all --force
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker

      - name: Check .tool-versions file existence
        id: tool-versions
        uses: andstor/file-existence-action@v2
        with:
          files: .tool-versions
      - uses: asdf-vm/actions/install@v2
        if: steps.tool-versions.outputs.files_exists == 'true'
      - run: cat /tmp/python-build.*.log
        if: failure()
      - run: python --version

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - name: Pull
        run: make pull

      - name: Build
        run: make build

      - name: Acceptance
        run: make acceptance

      - name: Publish
        run: c2cciutils-publish --type=rebuild --branch=${{ matrix.branch }}
