[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2020.5.28"

[dev-packages]
prospector = "==1.5.0.1"
coverage = "==5.5"
flake8 = "==3.8.4"

[requires]
python_version = "3.8"
