[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2022.4.30"
setuptools = "==59.5.0"

[dev-packages]
prospector = {extras = ["with_bandit", "with_mypy"], version = "==1.5.3.1"}
pylint-django = "==2.4.4"
flake8 = "==3.9.2"
coverage = "==6.3.2"

[requires]
python_version = "3.8"
